body {
  background: #8b8b8b;
  padding: 50px;
  font-family: Arial, sans-serif;
  text-align: justify;
}

.envelope {
  position: absolute;
  bottom: 5px;
  left: 415px;
  width: 460px;
  height: 200px;
  background: #ff5eea;
  border-radius: 0 0 5px 5px;
  box-shadow: 2px 2px 2px #ff5eea inset;
}
.faixa {
  background: #e7eedf;
  position: relative;
  margin: -5% 5% 0 -5%;
  width: 110%;
  color: #b1b8a9;
  line-height:40px;
  height:40px;
  text-align: center;
}
.faixa:before, .faixa:after{
  content: '';
  line-height:0;
  border-style:solid;
  border-width: 20px;
  position: absolute;
  top:20px;
  z-index: -2000;
  width:5px;
}
.faixa:before {
  border-color: #c3cabb #c3cabb #c3cabb transparent;
  left: -25px;
}
.faixa:after {
  right: -25px;
  border-color: #c3cabb transparent #c3cabb #c3cabb;
}
.faixa p:before, .faixa p:after{
  position: absolute;
  content: '';
  height: 0;
  line-height:1px;
  border-style:solid;
  border-width: 10px;
  z-index:-1999;
}
.faixa p:before{
  border-color: #888f80 #888f80 transparent transparent;
  bottom:-20px;
  left: 0;
}
.faixa p:after{
  border-color: #888f80 transparent transparent #888f80;
  bottom:-20px;
  right: 0;
}
.faixa p {
  text-align: center;
}
.envelope:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-width: 100px 230px;
  border-right-color: #fc44e4;
  border-left-color: #fc44e4;
  border-bottom-color: #b3109c;
  top: 0;
  border-radius: 0 0 5px 5px;
  transform: rotate(360deg);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}

.mail {
  background: #d5eecd;
  position: absolute;
  left: 30px;
  bottom: 0;
  width: 400px;
  height: 600px;
  border-radius: 10px;
}

.container {
  position: relative;
  display: flex;
  width: 400px;
}

.container .card {
  margin: 10px;
  padding: 0 20px 0 0;
  background: #f8f7f8;
  border-radius: 10px;
}
.container .card:last-child {
  margin: 10px;
  padding: 0 20px 0 20px;
  background: #f8f7f8;
  border-radius: 10px;
}

.container .card .content {
  position: relative;
  margin-top: 10px;
  text-align: justify; 
}

.container .card .content h2 {
  color: #b3109c;
  font-weight: 700;
  font-size: 1.2em;
  text-align: center;
}

.text {
  padding: 0 20px;
  line-height: 1.5;
}
